# Added by code-review-graph
.code-review-graph/
.env
challenges.md
technical_architecture.md
microservice.md
new_req.md
# db
*.db
*.db-shm
*.db-wal

# claude
.claude/
.mcp.json
CLAUDE.md

# system
.DS_Store

# python
__pycache__/
*.pyc
venv/